body{color:black;}
.article-entry{color:black;}
.article-title{color:black;}
code:not(.hljs){font-size:0.9em;color:#438024;background-color:#fbf4f4;}
.table-with-left-header tr th:first-child{border-right:3px solid #eceff2;font-weight:bold;}
.table-with-left-header tr th{padding-left:0.5em;}
.table-with-left-header tr td:first-child{border-right:3px solid #eceff2;font-weight:bold;}
.table-with-left-header tr td{padding-left:0.5em;}
.article-entry h4{margin-top:0;margin-bottom:0;}