<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}</title>
    {{ .Hugo.Generator }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
    {{ with .Description }}
      <meta name="description" content="{{ . }}">
    {{ else }}
      <meta name="description" content="{{ .Site.Params.site_description }}">
    {{ end }}
    {{ with .RSSLink }}
      <link href="{{ . }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
      <link href="{{ . }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
    {{ end }}
    <link rel="canonical" href="{{ .Permalink }}"/>
    <link rel="icon" href="{{ "favicon.ico" | absURL }}">
    <link rel="apple-touch-icon" href="{{ "apple-touch-icon.png" | absURL }}"/>
    <link rel="stylesheet" href="{{ "css/style.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/font-awesome.min.css" | absURL }}">
    <link rel="stylesheet" href="{{ "fancybox/jquery.fancybox.css" | absURL }}">
    {{ range .Site.Params.custom_css }}
    <link rel="stylesheet" href="{{ . | absURL }}">
    {{ end }}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/google_news.html" . }}
    {{ template "_internal/schema.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ partial "head_custom" . }}

    {{ if .Params.disable_profile | and .Params.disable_widgets }}
    <style>
        .full-width {
            width: 100% !important;
        }
    </style>
    {{ end }}

    <!-- needs to be loaded first for following scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div class="container">
